.dashboard_root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
}
.dashboard_header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-image: linear-gradient(97deg, #ff7a6e, #ff9770);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
}
.left_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_header > img {
  height: 25px;
  margin-left: 20px;
  width: 30px;
}
.search_icon {
  height: 25px;
  margin-left: 20px;
  width: 30px;
}
.left_header > p {
  font-size: 33px;
}
.dashboard_link_link:hover {
  text-decoration: none;
  color: white;
}
.dashboard_link {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
dashboard_link:hover {
  text-decoration: none;
  color: white;
}
.logout_button {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.logout_button:focus {outline:0;}
.logout_button:hover {
  color: white;
  text-decoration: none;
}
.display_user_container {
  height: 200px;
  width: 60%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 6px;
  margin-top: 76px;
}
.user_container {
  height: 160px;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 10px;
}

.welcome_parent_container {
  height: 160px;
  width: 60%;
  background-color: white;
  padding: 10px;
  margin-left: 20px;
}
.welcome_text_container {
  font-size: 21px;
  margin: 14px;
  text-align: none;
}
.welcome_text {
  height: 100%;
  font-size: 19px;
}

user_img_container {
  height: 200px;
  width: 10%;
}
.user_img {
  height: 120px;
  border: 3px solid #ffd670;
  margin-right: 9px;
}
.edit_button {
  height: 30px;
  width: 100%;
  margin: 9px;
  position: relative;
  top: 8px;
  right: 10px;
  font-size: 18px;
  font-weight: 100;
  border-radius: 4px;
  margin-bottom: 65px;
  background-image: radial-gradient(circle at 50% 0,#fff,#f1eceb);
}
.user_text {
  font-size: 20px;
  margin-top: 20px;
}
.recommended_friends_parent_container {
  width: 59%;
  height: auto;
  min-height: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  background: white;
}
.recommended_friends_header {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  padding: 10px;
}
.recommended_friends_title {
  font-size: 22px;
  margin: 5px;
}
.users_list {
  overflow: auto;
  flex-wrap: wrap;
  width: 100%;
}
.filtered_user {
  height: 120px;
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.filtered_user_add_btn {
  height: 35px;
  margin: 25px;
  border-radius: 1px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  cursor: pointer;
  background-image: radial-gradient(circle at 50% -46%, #ff9770, #ff7a6e);
}
.filtered_user_name {
  width: 20px;
  height: auto;
}
.filtered_user_first_name,
.filtered_user_last_name {
  padding: 5px;
}
.filtered_user_img_container {
  width: 100px;
  height: 100px;
}
.filtered_user_img {
  width: 100%;
  height: 100%;
}
.add_btn_text {
  font-size: 12px;
  padding: 11px;
}
.page-numbers {
  list-style: none;
  display: flex;
}
.page-numbers > li {
  margin-right: 0.3em;
  color: black;
  background: white;
  width: 25px;
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  height: 23px;
  align-items: center;
}
.page-numbers > li:hover {
  color: white;
  background: black;
}
.pagenumber_container {
  height: 50px;
  width: 60%;
  background-image: radial-gradient(circle at 50% -46%, #ff9770, #ff7a6e);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
a{
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
  text-decoration: none;
}